.dashboardTableTitle
{
    background-color:#D5E2EB; 
    color:#3E3E3E;
    height:28px;
    padding-left:14px;
    padding-right:14px;
}

.dashboardTableSubTitle
{
    background-color:#EFEFEF; 
    color:#0169A0;
    font-weight:bold;
    height:21px;
    padding-left:14px;
    border-top: 1px solid #DADADA;
    border-bottom: 1px solid #DADADA;    
}

.dashboardTableInfo
{
    color:#3D3F3E;
    height:26px;
    padding-left:14px;    
}

.boldText
{
    color:#0169A0;
    font-weight:bold;
    width:115px;
    height:20px;    
}