<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <httpHandlers>
        <add path="BusyBoxDotNet.axd" verb="*" type="BusyBoxDotNet.ResourceHttpHandler, BusyBoxDotNet" />
      </httpHandlers>
      <compilation debug="true" strict="false" explicit="true" targetFramework="4.0" />
    </system.web>
    <connectionStrings>
      <add name="SGC" connectionString="Data Source=.;Initial Catalog=SGC;Integrated Security=True"/>
    </connectionStrings>
</configuration>
